{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",

    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],

    "importOrder": [
        "^react$",
        "^next",
        "<THIRD_PARTY_MODULES>",
        "^@/types",
        "^@/models",
        "^@/contexts",
        "^@/hooks",
        "^@/lib",
        "^@/components",
        "^@/styles",
        "^[./]"
    ]
}
