services:
    rockit-backend:
        container_name: "rockit-backend"
        build:
            context: .
            dockerfile: Dockerfile.backend
        # ports:
        # - "<Port to access RockIt backend routes (optional)>:8000"
        networks:
            - rockit
        restart: unless-stopped
        environment:
            ENVIRONMENT: "PROD"
            CLIENT_ID: "<CLIENT_ID for Spotify API>"
            CLIENT_SECRET: "<CLIENT_SECRET for Spotify API>"
            DOWNLOAD_THREADS: "2"
            SONGS_PATH: "/songs"
            TEMP_PATH: "/temp"
            LOGS_PATH: "/logs"
            LOG_DUMP_LEVEL: "info" # debug/info/warning/error/critical
            IMAGES_PATH: "/images"
        volumes:
            - <path to songs dir>:/songs
            - <path to temp dir>:/temp
            - <path to logs dir>:/logs
            - <path to images dir>:/images
            - <path to images dir>:/database

    rockit-frontend:
        container_name: "rockit-frontend"
        build:
            context: .
        ports:
            - "<Port to access RockIt>:3000"
        restart: unless-stopped
        networks:
            - app-network
        env_file:
            - .env.production
        volumes:
            - <path to database dir>:/app/database
            - <path to songs dir>:/app/songs
            - <path to images dir>:/app/images

    rockit-websocket-server:
        container_name: "rockit-websocket-server"
        build:
            context: .
            dockerfile: Dockerfile.websocket

        ports:
            - "<Port to access WebSocket>:3001"
        restart: unless-stopped
        networks:
            - rockit
        env_file:
            - .env.production
        volumes:
            - <path to database dir>:/app/database

    rockit-redis:
        container_name: rockit-redis
        image: redis:7
        ports:
            - "6379:6379"
        volumes:
            - /home/icass/RockIt/redis-data:/data
        networks:
            rockit:
                aliases:
                - redis
        restart: unless-stopped

    rockit-worker:
        container_name: rockit-worker
        build:
            context: .
            dockerfile: Dockerfile.worker
        restart: unless-stopped
        volumes:
            - <path to database dir>:/app/database
            - <path to temp dir>:/app/temp
            - <path to songs dir>:/app/songs
        env_file:
            - .env.production
        networks:
            - rockit
networks:
    rockit:
        external: true
