@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    color-scheme: dark;
}

html,
main {
    font-family: system-ui, sans-serif;
    background: #0b0b0b;
    /* min-width: 820px; */
    /* min-height: 728px; */
}

main,
body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 0.5);
    border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:horizontal {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

#default-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    appearance: none;
    background-color: transparent;
    border-radius: 9999px;
}

#default-slider:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background-color: white;
}

#default-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 100%;
}
#default-slider::-webkit-slider-runnable-track {
}
