---
import "@/styles/default.css";
import BaseLayout from "@/layouts/BaseLayout.astro";

import DemoSearch from "@/components/demo/DemoSearch";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}
---

<BaseLayout>
    <div class="p-4">
        <DemoSearch client:only="react" />
    </div>
</BaseLayout>
