---
import Layout from "@/layouts/Layout.astro";
import AlbumsCarousel from "@/components/AlbumsCarousel.tsx";
---

<Layout title="Rock It!" currentPage="Home">
    <div class="text-white h-1/2 flex items-center justify-center overflow-x-hidden">
        <AlbumsCarousel />
    </div>
</Layout>