---
import Layout from "@/layouts/Layout.astro";
import AlbumsCarousel from "@/components/AlbumsCarousel.tsx";
import { getStats, type SongForStats } from "@/lib/stats";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}

// Definimos la lista de categorías
const categories = [
    {
        label: "Relax",
        image: "/home/relax.avif",
    },
    {
        label: "Energetic",
        image: "/home/energetic.webp",
    },
    {
        label: "Romance",
        image: "/home/romance.jpg",
    },
    {
        label: "Party",
        image: "/home/party.jpg",
    },
    {
        label: "Sad",
        image: "/home/sad.jpg",
    },
    {
        label: "Chill",
        image: "/home/chill.webp",
    },
    {
        label: "Happy",
        image: "/home/happy.jpg",
    },
    {
        label: "Mellow",
        image: "/home/mellow.avif",
    },
];

const stats = await getStats();

let songsTimesPlayed: SongForStats[] = [];

stats.songs.map((song) => {
    let result = songsTimesPlayed.find((findSong) => findSong.id == song.id);
    if (result) {
        result.timesPlayed += 1;
    } else {
        songsTimesPlayed.push({
            artists: song.artists,
            image: song.image,
            index: 0,
            name: song.name,
            id: song.id,
            timesPlayed: 1,
            duration: song.duration,
            images: song.images,
            albumId: song.albumId,
            albumName: song.albumName,
        });
    }
});

songsTimesPlayed.sort((a, b) => b.timesPlayed - a.timesPlayed);
---

<Layout title="Rock It!" currentPage="Home">

    <div class="mt-14 md:mt-0"></div>
    
    <!-- Albums Carousel Section -->
    <AlbumsCarousel songsTimesPlayed={songsTimesPlayed} client:only="react" />

    <!-- <section class="md:mt-12 text-center">
        <h2 class="text-3xl font-bold text-white mb-8">
            Explore by Category (🏗️ In Progess 🏗️)
        </h2>
        <div class="flex justify-center gap-3 flex-wrap">
            {
                categories.map((category) => (
                    <div class="group relative cursor-pointer">
                        <div
                            class={`w-28 h-10 flex items-center justify-center rounded-full bg-cover bg-center transition duration-300`}
                            style={{
                                backgroundImage: `url(${category.image})`,
                            }}
                        >
                            <p class="text-white text-lg font-semibold z-10">
                                {category.label}
                            </p>
                            {/* Capa superpuesta negra al hacer hover */}
                            <div class="absolute inset-0 bg-black rounded-full opacity-40 group-hover:opacity-20 transition duration-300 pointer-events-none" />
                        </div>
                    </div>
                ))
            }
        </div>
    </section> -->

    <section class="md:px-12 px-3 py-5 md:py-12 text-white">
        <h2 class="text-2xl md:text-3xl font-bold text-left">Recently Played</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a
                        href="#"
                        class="flex-none w-40 md:w-48 md:hover:scale-105 transition"
                    >
                        <img
                            class="rounded-lg w-full aspect-square object-cover"
                            src="/song-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Song Title {index + 1}
                        </label>
                        <label class="truncate text-sm text-center text-gray-400 block">
                            Artist Name
                        </label>
                    </a>
                ))
            }
        </div>
    </section>

    <section class="group md:px-12 px-3 text-white">
        <h2 class="text-2xl md:text-3xl font-bold text-left">Quick Selections</h2>
        <!-- Contenedor del slider -->
        <div class="flex md:gap-4 overflow-x-auto scrollbar-hide snap-x snap-mandatory py-4 px-2">
            <!-- Aquí creamos las columnas -->
            {Array.from({ length: 9 }).map((_, columnIndex) => (
            <div class="flex flex-col gap-1 flex-none w-[51%] max-w-[200px] md:w-[calc(25%-10px)] md:max-w-[350px] snap-center">
                {Array.from({ length: 4 }).map((_, songIndex) => (
                <a
                    href="#"
                    class="flex items-center gap-2 rounded-lg p-2 hover:bg-zinc-800 transition h-fit"
                >
                    <!-- Imagen de la canción -->
                    <img
                        class="rounded-sm w-12 h-12 object-cover"
                        src="/song-placeholder.png"
                        alt="Song Cover"
                    />
                    <!-- Información de la canción -->
                    <div class="flex flex-col justify-center min-w-0">
                        <!-- Nombre de la canción -->
                        <span class="text-md font-semibold text-white truncate">
                        Canción {columnIndex * 4 + songIndex + 1}
                        </span>
                        <!-- Artista y álbum -->
                        <div class="flex items-center gap-1 min-w-0">
                            <span class="text-sm text-gray-400 truncate">
                                Artista {columnIndex * 4 + songIndex + 1}
                            </span>
                            <span class="hidden md:flex text-sm text-gray-400 truncate">
                                {" • Álbum "} {columnIndex * 4 + songIndex + 1}
                            </span>
                        </div>
                    </div>
                </a>
                ))}
            </div>
            ))}
        </div>
    </section>          

    <section class="md:px-12 px-3 py-5 md:py-12 text-white">
        <h2 class="text-2xl md:text-3xl font-bold text-left">You Might Also Like</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a
                        href="#"
                        class="flex-none w-40 md:w-48 md:hover:scale-105 transition"
                    >
                        <img
                            class="rounded-lg w-full aspect-square object-cover"
                            src="/song-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Song Title {index + 1}
                        </label>
                        <label class="truncate text-sm text-center text-gray-400 block">
                            Artist Name
                        </label>
                    </a>
                ))
            }
        </div>
    </section>
    <div class="min-h-10"></div>
</Layout>
