---
import Layout from "@/layouts/Layout.astro";
import SearchBar from "@/components/SearchBar";

if (!Astro.locals.user) {
  return Astro.redirect("/login");
}
---

<Layout title="Rock It!" currentPage="Library">
    <label class="text-white text-4xl font-bold">Library</label>
</Layout>