---
import Layout from "@/layouts/Layout.astro";

if (!Astro.locals.user) {
  return Astro.redirect("/login");
}
---

<Layout title="Rock It!" currentPage="404 - Page not Found">
    <div class="h-full w-full flex items-center justify-center bg-gradient-to-r from-[#fca5a5] to-[#feb2b2] relative">
        <!-- Contenedor de la página -->
        <div class="flex items-center gap-10">
            <!-- Sección de texto -->
            <div class="text-black">
                <h1 class="text-9xl font-bold mb-4">404</h1>
                <p class="text-lg font-semibold mb-2">
                Whoops! Looks like this track is off-key. 🎵
                </p>
                <p class="text-md font-medium">
                We couldn’t find the page you’re looking for, but don’t worry, the music still plays on.
                </p>
            </div>

            <!-- Tocadiscos -->
            <div class="relative w-64 h-64 flex items-center justify-center">
                <!-- Plato del tocadiscos -->
                <div class="absolute w-full h-full rounded-full animate-spin-slow"></div>
                
                <!-- Disco giratorio -->
                <img
                    src="/Vinil-CD.png"
                    alt="Vinyl Record"
                    class="absolute w-4/5 h-4/5 rounded-full object-cover animate-spin-decelerate"
                />

                <!-- Brazo del tocadiscos -->
                <div class="absolute top-0 right-0 w-16 h-44 bg-blue-500 rotate-[15deg] z-20"></div>
            </div>
        </div>
    </div>
</Layout>

<style>
    /* Animación de giro lento */
    .animate-spin-slow {
        animation: spin 6s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* Animación de giro rápido que se desacelera */
    .animate-spin-decelerate {
        animation: spin-decelerate 6s cubic-bezier(0.5, 1, 0.75, 1) forwards;
    }

    @keyframes spin-decelerate {
        0% {
        transform: rotate(0deg);
        }
        50% {
        transform: rotate(720deg); /* Gira rápidamente dos vueltas */
        }
        100% {
        transform: rotate(720deg); /* Se detiene después de dos vueltas */
        }
    }

</style>
