---
import Layout from "@/layouts/Layout.astro";
import SearchBar from "@/components/SearchBar";
const activePage = "Search";

if (!Astro.locals.user) {
  return Astro.redirect("/login");
}
---

<Layout title="Rock It!" activePage={activePage}>
    <main class="p-5">
        <SearchBar client:only="react"/>
        <!-- <input class="mx-auto rounded-full block text-2xl px-4 w-1/2 py-1 focus:outline-0" placeholder="Enter a spotify URL..."/> -->
    </main>
</Layout>


<script>
    // const a = EventSource()
</script>