---
import Layout from "@/layouts/Layout.astro";

if (!Astro.locals.user) {
  return Astro.redirect("/login");
}
---

<Layout title="Rock It!" currentPage="Search">
    <section class="p-12 text-white">
        <h2 class="text-3xl font-bold text-left">Songs</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a href="#" class="flex-none w-48 hover:scale-105 transition">
                        <img
                            class="rounded-lg w-full aspect-square object-cover"
                            src="/song-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Song Title {index + 1}
                        </label>
                        <label class="truncate text-sm text-center text-gray-400 block">
                            Artist Name
                        </label>
                    </a>
                ))
            }
        </div>
    </section>

    <section class="p-12 text-white">
        <h2 class="text-3xl font-bold text-left">Albums</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a href="#" class="flex-none w-48 hover:scale-105 transition">
                        <img
                            class="rounded-lg w-full aspect-square object-cover"
                            src="/song-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Album Title {index + 1}
                        </label>
                        <label class="truncate text-sm text-center text-gray-400 block">
                            Artist Name
                        </label>
                    </a>
                ))
            }
        </div>
    </section>

    <section class="p-12 text-white">
        <h2 class="text-3xl font-bold text-left">Artists</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a href="#" class="flex-none w-48 hover:scale-105 transition">
                        <img
                            class="rounded-full w-full aspect-square object-cover"
                            src="/user-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Artist {index + 1}
                        </label>
                    </a>
                ))
            }
        </div>
    </section>

    <section class="p-12 text-white">
        <h2 class="text-3xl font-bold text-left">Playlists</h2>
        <div class="relative flex items-center gap-4 overflow-x-auto py-4 px-2">
            <!-- Aquí creamos las canciones -->
            {
                Array.from({ length: 20 }).map((_, index) => (
                    <a href="#" class="flex-none w-48 hover:scale-105 transition">
                        <img
                            class="rounded-lg w-full aspect-square object-cover"
                            src="/song-placeholder.png"
                            alt="Song Cover"
                        />
                        <label class="truncate font-semibold text-center block mt-2">
                            Playlist {index + 1}
                        </label>
                        <label class="truncate text-sm text-center text-gray-400 block">
                            Author Name
                        </label>
                    </a>
                ))
            }
        </div>
    </section>
</Layout>