---
import SearchBar from "@/components/Search/SearchBar";
import HeaderUser from "./HeaderUser";

export interface Props {
    searchBar?: boolean;
}

const { searchBar = true } = Astro.props;
---

<header
    class="w-full z-50 grid grid-cols-[200px_3fr_200px] justify-between pl-4 pr-4 py-4 text-white"
>
    <!-- Logo a la izquierda -->
    <a href="/" class="flex items-center select-none">
        <img src="/logo-banner.png" alt="Logo" class="h-14" />
    </a>

    {searchBar ? <SearchBar client:only="react" /> : <label />}

    <!-- User Settings -->
    <div class="relative ml-auto">
        <!-- Botón para abrir/cerrar el menú -->
        {
            Astro.locals.user?.username && (
                <HeaderUser
                    userName={Astro.locals.user.username}
                    client:only="react"
                />
            )
        }
    </div>
</header>
