---
export interface Props {
    items: { name: string; href: string; value: number }[];
    name: string;
    type?: "percentage" | "value";
}

const { items, name } = Astro.props;
const type = Astro.props.type || "percentage";

const totalValue = items.reduce((partialSum, a) => partialSum + a.value, 0);
---

<div class="w-96 bg-gray-800 rounded-lg p-2 h-fit">
    <label class="text-lg font-semibold">{name}</label>
    <table style="width: 100%;">
        <tbody class="w-full">
            <tr>
                <th class="w-1/3"></th>
                <th></th>
            </tr>
            {
                items.slice(0, 20).map((item) => (
                    <tr>
                        <td class="max-w-1 truncate text-sm text-right ">
                            <a class="md:hover:underline" href={item.href}>
                                {item.name}
                            </a>
                        </td>
                        <td>
                            <div class="mx-2">
                                <div
                                    class="relative flex flex-row items-center "
                                    style="width: calc(100% - 30px);"
                                >
                                    <div
                                        class="bg-gradient-to-r from-[#ee1086] to-[#fb6467] h-1 block rounded"
                                        style={`width: calc(${
                                               (item.value / items[0].value) * 100
                                        }%)`}
                                    />
                                    <label
                                        class="absolute font-bold  px-1 text-xs text-left"
                                        style={`left: min(calc(${
                                            (item.value / items[0].value) * 100
                                        }% + 4px))`}
                                    >
                                        {() => {
                                            if (type == "percentage") {
                                                return (
                                                    Math.round(
                                                        (item.value /
                                                            totalValue) *
                                                            100
                                                    ) + "%"
                                                );
                                            } else if (type == "value") {
                                                return item.value
                                            }
                                        }}
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
