---
import FooterCenter from "@/components/FooterCenter";
import FooterLeft from "@/components/FooterLeft";
import FooterRightMobile from "@/components/FooterMobile";
import TogglePlayerUI from "@/components/TogglePlayerUI";
import VolumeSlider from "./VolumeSlider";
import FooterMobileBar from "./FooterMobileBar";
---

<footer
    class="md:bg-[#1a1a1a] bg-black/80 text-white md:py-4 md:px-5 px-2 pt-2 w-full md:h-24 box-border"
>
    <div
        class="flex md:justify-center justify-between items-center w-full h-full"
    >
        <!-- Sección Izquierda -->
        <FooterLeft client:only="react" />

        <!-- Sección Central (solo visible en pantallas medianas y más grandes) -->
        <FooterCenter client:only="react" />

        <!-- Sección Derecha (Dispositivos grandes): Volumen -->
        <div
            class="hidden md:flex items-center w-1/3 h-full justify-end gap-x-5 group"
        >
            <VolumeSlider client:only="react" transition:persist />
            <TogglePlayerUI client:only="react" />
        </div>

        <!-- Sección Derecha: Solo visible en pantallas pequeñas -->
        <FooterRightMobile client:only="react" />
    </div>
    <div class="md:hidden flex w-full">
        <FooterMobileBar client:only="react" />
    </div>
</footer>
