---
import FooterCenter from "@/components/FooterCenter";
import FooterLeft from "@/components/FooterLeft";
import FooterRightMobile from "@/components/FooterMobile";
import TogglePlayerUI from "@/components/TogglePlayerUI";
import VolumeSlider from "./VolumeSlider";
---

<footer
    class="bg-[#1a1a1a] text-white md:py-4 md:px-5 px-2 py-2 w-full md:h-24 box-border z-50"
>
    <div class="flex md:justify-center items-center w-full h-full">
        <!-- Sección Izquierda -->
        <FooterLeft client:only="react" />

        <!-- Sección Central (solo visible en pantallas medianas y más grandes) -->
        <FooterCenter client:only="react" />

        <!-- Sección Derecha (Dispositivos grandes): Volumen -->
        <div
            class="hidden md:flex items-center w-1/3 h-full justify-end gap-x-3 group"
        >
            <VolumeSlider client:only="react" />
            <TogglePlayerUI client:only="react" />
        </div>

        <!-- Sección Derecha: Solo visible en pantallas pequeñas -->
        <FooterRightMobile client:only="react" />
    </div>
</footer>
