---
import SearchBar from "@/components/searchBar";
import RenderSearchResults from "@/components/searchResults"
---

<header
    class="w-full z-50 grid grid-cols-[200px_3fr_200px] justify-between pl-4 pr-8 py-4 text-white"
>
    <!-- Logo a la izquierda -->
    <div class="flex items-center">
        <img src="/logo-banner.png" alt="Logo" class="h-14" />
    </div>

    <!-- Barra de búsqueda en el centro -->
    <div class="w-full h-full relative">

            <RenderSearchResults client:only="react"/>
        <SearchBar client:only="react"/>
    </div>

    <!-- Texto "unknown" y círculo gris a la derecha -->
    <div class="flex items-center space-x-4 ml-auto">
        <span class="font-medium">{Astro.locals.user?.username}</span>
        <div class="w-10 h-10 bg-gray-400 rounded-full overflow-hidden flex items-center justify-center">
            <img 
                src="/user-placeholder.png" 
                alt="User avatar" 
                class="w-9/12 h-9/12 object-cover"
            />
        </div>
    </div>    
</header>
