---

---

<header class="w-full z-50 flex items-center justify-between pl-4 pr-8 py-4 text-white">
    <!-- Logo a la izquierda -->
    <div class="flex items-center">
        <img src="/logo-banner.png" alt="Logo" class="h-14" />
    </div>

    <!-- Barra de búsqueda en el centro -->
    <div class="flex-grow -mx-4">
        <input
            class="font-semibold mx-auto rounded-full block text-1xl px-10 w-2/5 py-2 focus:outline-0"
            style={{
                backgroundImage: "url(/search-icon.png)",
                backgroundPosition: "15px center",
                backgroundSize: "14px",
                backgroundRepeat: "no-repeat",
            }}
            placeholder="Search a song or artist..."
        />
    </div>

    <!-- Texto "unknown" y círculo gris a la derecha -->
    <div class="flex items-center space-x-4">
        <span class="font-medium">{Astro.locals.user?.username}</span>
        <div class="w-10 h-10 bg-gray-400 rounded-full"></div>
    </div>
</header>
