---
import {
	Home,
	Menu,
	Library,
	Search,
	Download,
} from "lucide-react";

---

<div class="mx-auto flex flex-col gap-4 w-fit pt-2">
    <Menu />
    <a href="/" title="Home">
        <Home />
    </a>
    <a href="/library" title="Library">
        <Library />
    </a>
    <a href="/search" title="Search">
        <Search />
    </a>
    <a href="/downloads" title="Downloads">
        <Download />
    </a>
</div>