---
import "@/styles/default.css";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

import { ViewTransitions } from "astro:transitions";

export interface Props {
	currentPage: string;
	title: string;
}

const { currentPage } = Astro.props;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Rock It! - A music player by Icass & Nicorebo18"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/rockit-logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<main
			class="grid grid-rows-[min-content_1fr_min-content] grid-cols-[min-content_1fr]"
		>
			<div style={{ gridArea: "header" }}>
				<Header />
			</div>
			<div style={{ gridArea: "nav" }} class="">
				<Navigation activePage={currentPage} />
			</div>
			<div
				class="min-w-0 max-w-full min-h-0 max-h-full overflow-auto"
				style={{ gridArea: "main" }}
			>
				<slot />
			</div>
			<div
				class="min-w-0 max-w-full min-h-0 max-h-full overflow-auto"
				style={{ gridArea: "footer" }}
			>
				<Footer />
			</div>
		</main>
	</body>
</html>

<style>
	main {
		grid-template-areas:
			"nav header"
			"nav main"
			"footer footer";
	}
</style>
