---
import ToggleButtons from "@/components/Admin/ToggleButtons";
import Layout from "@/layouts/Layout.astro";
import { db } from "@/lib/db/db";
import { parseUser, type RawUserDB, type UserDB } from "@/lib/db/user";

if (!Astro.locals.user?.admin) {
    return new Response("Page not found", { status: 404 });
}

const user = parseUser(
    db
        .prepare(
            "SELECT id, username, admin, queue, randomQueue FROM user WHERE id = ?"
        )
        .get(Astro.params.id) as RawUserDB
) as UserDB<"id" | "username" | "admin" | "randomQueue" | "queue">;
---

<Layout currentPage="AdminUser">
    <div class="mt-16 mb-16 md:mt-0 md:mb-0 w-full">
        <div class="max-w-[700px] mx-auto flex flex-col gap-y-2 p-2 rounded">
            <div class="flex flex-row gap-x-3">
                <img src="/user-placeholder.png" class="h-20 rounded-full" />
                <label class="text-4xl font-bold">{user.username}</label>
            </div>
            <div class="bg-white/10 w-full p-2 rounded flex flex-col">
                <label class="text-xl font-semibold">Queue</label>
                {
                    user.queue.length > 0 ? (
                        <>
                            <div class="grid md:grid-cols-2 grid-cols-1 gap-2">
                                {user.queue.slice(0, 10).map((song) => (
                                    <div class="p-2 rounded md:hover:bg-neutral-700">
                                        {song.song}
                                    </div>
                                ))}
                            </div>
                            <label class="ml-auto mr-2 text-blue-400">
                                See all queue
                            </label>
                        </>
                    ) : (
                        <label class="text-sm">
                            User has no songs in queue
                        </label>
                    )
                }
            </div>
            <ToggleButtons />
            <div class="flex flex-row justify-between">
                <button
                    disabled={user.id == Astro.locals.user.id}
                    class="disabled:opacity-50 bg-blue-500 p-2 w-fit rounded"
                    >Impersonate</button
                >
                <button
                    class="disabled:opacity-50 bg-blue-500 p-2 w-fit rounded"
                    >See stats</button
                >
                <button
                    class="disabled:opacity-50 bg-blue-500 p-2 w-fit rounded"
                >
                    See more info</button
                >
            </div>
        </div>
    </div>
</Layout>
