---
import Layout from "@/layouts/Layout.astro";
import { db } from "@/lib/db/db";
if (!Astro.locals.user?.admin) {
    return new Response("Page not found", { status: 404 });
}

const tables = (await db
    .prepare("SELECT name FROM sqlite_schema WHERE type='table'")
    .all()) as { name: string }[];
---

<Layout currentPage="AdminDB">
    <div
        class="max-w-96 bg-neutral-700 md:w-full w-auto md:mx-auto mx-3 p-3 rounded flex flex-col mt-20 md:mt-0"
    >
        <label class="font-bold text-xl">Select table</label>
        {
            tables.map((table) => (
                <a href={`/admin/db/${table.name}`}>{table.name}</a>
            ))
        }
    </div>
</Layout>
